# Backend files to ignore
backend/node_modules/
backend/.env
backend/backups/
backend/public/audio_cache/*.mp3
backend/public/audio_cache/**/*.mp3

# Flutter files to ignore
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Podfile.lock
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/*.keystore
**/*.jks

# IDEs & System files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Antigravity artifacts & logs
.system_generated/
*.log
